body {
    background: linear-gradient(135deg, #141e30, #243b55);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#head {
    background-color: #141e30;
    max-width: fit-content;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    padding: 18px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #2a5bd7;
}

#label {
    max-width: 40px;
    margin: auto;
    background: linear-gradient(135deg, #ffffff, #f2f4f8);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    font-size: 50px;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    size: 80px;
    max-width: 400px;
    padding: 50px 15px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

#Increase {
    background: linear-gradient(135deg, #005c97, #363795);
    padding: 10px;
    color: #333;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#Increase:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(45, 14, 244, 0.618);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#Reset {
    background: linear-gradient(135deg, #005c97, #363795);
    padding: 10px;
    color: #333;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#Reset:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(45, 14, 244, 0.618);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#Decrease {
    background: linear-gradient(135deg, #005c97, #363795);
    padding: 10px;
    color: #333;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#Decrease:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(45, 14, 244, 0.618);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
